th{
    width: 10%;
    height: 3em;
}
td{
    width: 10%;
    text-align: center;
    height: 2em;
}
.table tr:nth-child(2n - 1){
    background: #ededed;
}
form{
    width: 100%;
}
.table span{
    cursor: pointer;
}
.table .editSpan{
    color: blue;
}
.table .deleteSpan{
    color: red;
}
.EditTable,.addTable ,.orderTable{
    margin-top: 40px;
}
.EditTable tr,.addTable tr,.orderTable tr{
    height: 60px;
}
.EditTable th,.addTable th,.orderTable th{
    width: 10%;
}
.EditTable td,.addTable td,.orderTable td{
    text-align: left;
}
.EditTable input,.addTable input ,.orderTable input{
    border: 0;
    width: 400px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid cornflowerblue;
}
.EditDiv h1 ,#addAdminDiv h1{
    height: 40px;
    background: #333;
    color: #fff;
    line-height: 40px;
}
.operationDiv{
    display: flex;
    justify-content: center;
}
.editTableSpan{
    display: block;
    position: static;
    height: 30px;
    width: 80px;
    background: #333;
    line-height: 30px;
    border-radius: 8px;
    color: #fff !important;
    font-size: 14px !important;
    cursor: pointer;
    border: none;
}
.orderP{
    width: 110px;
    height: 30px;
    background: #ccc;
    line-height: 30px;
    float: left;
    cursor: pointer;
}
.orderHiden{
    display: none;
}
.orderHiden th{
    text-align: left;
}
.orderActive{
    background: #d7a2a2;
}