th{
    width: 10%;
    height: 3em;
}
td{
    width: 10%;
    text-align: center;
    height: 2em;
}
.table tr:nth-child(2n - 1){
    background: #ededed;
}
form{
    width: 100%;
}
.table span{
    cursor: pointer;
}
.table .editSpan{
    color: blue;
}
.table .deleteSpan{
    color: red;
}
.EditTable {
    margin: 40px 20px 40px 70px;
}
.EditTable tr{
    height: 60px;
}
.EditTable th{
    width: 5%;
}
.EditTable td{
    text-align: left;
}
.EditTable input{
    border: 0;
    width: 400px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid cornflowerblue;
}
.EditDiv h1{
    height: 40px;
    background: #333;
    color: #fff;
    line-height: 40px;
}
.editTableSpan{
    display: block;
    height: 30px;
    width: 80px;
    background: #333;
    line-height: 30px;
    border-radius: 8px;
    color: #fff;
    margin-left: 200px;
}
.passwordTable{

}
