.header{
    padding: 12px 0;
    background: #333;
}
.center{
}
.header h1{
    color: #fff;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    float: left;
}
.user{
    float: right;
    color: #1da1f2;
}
.user p{
    color: blue;
    font-size: 1.2em;
    float: left;
   line-height: 40px;
    margin-right: 40px;
    color: #ff6600;
}
.user p a{
    margin-left: 20px;
    color: #fff;
}
.main{
    width: 10%;
    height: 45.6em;
    text-align: center;
    float: left;
    background: #ccc;
}
.main ul{
    font-size: 0;

    border-right: 2px solid #ccc;
}
.main li{
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    height: 3em;
    line-height: 3em;
    box-sizing: border-box;
    margin-top: 20px;
}
.main li:nth-child(1){
    margin-top: 0;
}
.main li:hover{
    background: #999;
    border-bottom: 2px solid #000;
}
#iframe{
    padding:20px;
    padding-top: 2px;
    float: left;
    width:86%;
    height:28em;
}
.active{
    background: #999;
    border-bottom: 2px solid #000;
    color:#fff;
}
